<style type="text/css">
#T_0eb3d td:hover {
  background-color: #ffcccb;
}
#T_0eb3d .index_name {
  font-style: italic;
  color: darkgrey;
  font-weight: normal;
}
#T_0eb3d th:not(.index_name) {
  background-color: #000066;
  color: white;
}
</style>
<table id="T_0eb3d">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_0eb3d_level0_col0" class="col_heading level0 col0" >Volume</th>
      <th id="T_0eb3d_level0_col1" class="col_heading level0 col1" >Accuracy</th>
      <th id="T_0eb3d_level0_col2" class="col_heading level0 col2" >Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_0eb3d_level0_row0" class="row_heading level0 row0" >1</th>
      <td id="T_0eb3d_row0_col0" class="data row0 col0" >Joe Manchin</td>
      <td id="T_0eb3d_row0_col1" class="data row0 col1" >John Kennedy</td>
      <td id="T_0eb3d_row0_col2" class="data row0 col2" >Cynthia Lummis</td>
    </tr>
    <tr>
      <th id="T_0eb3d_level0_row1" class="row_heading level0 row1" >2</th>
      <td id="T_0eb3d_row1_col0" class="data row1 col0" >Roy Blunt</td>
      <td id="T_0eb3d_row1_col1" class="data row1 col1" >Thom Tillis</td>
      <td id="T_0eb3d_row1_col2" class="data row1 col2" >John Boozman</td>
    </tr>
    <tr>
      <th id="T_0eb3d_level0_row2" class="row_heading level0 row2" >3</th>
      <td id="T_0eb3d_row2_col0" class="data row2 col0" >John Boozman</td>
      <td id="T_0eb3d_row2_col1" class="data row2 col1" >John Cornyn</td>
      <td id="T_0eb3d_row2_col2" class="data row2 col2" >Joe Manchin</td>
    </tr>
    <tr>
      <th id="T_0eb3d_level0_row3" class="row_heading level0 row3" >4</th>
      <td id="T_0eb3d_row3_col0" class="data row3 col0" >Tina Smith</td>
      <td id="T_0eb3d_row3_col1" class="data row3 col1" >John Hickenlooper</td>
      <td id="T_0eb3d_row3_col2" class="data row3 col2" >Maria Cantwell</td>
    </tr>
    <tr>
      <th id="T_0eb3d_level0_row4" class="row_heading level0 row4" >5</th>
      <td id="T_0eb3d_row4_col0" class="data row4 col0" >Pat Toomey</td>
      <td id="T_0eb3d_row4_col1" class="data row4 col1" >Bill Hagerty</td>
      <td id="T_0eb3d_row4_col2" class="data row4 col2" >John Kennedy</td>
    </tr>
  </tbody>
</table>
