<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}
       <div class="about">
         <h1>About me</h1>
         <p>This is a portfolio site about anything that can be put in a portfolio.</p>
         <p>Introduction: There has recently been much controversy surrounding the personal trading
            activities of individual members of congress and their immediate partners. Our group aims to
            uncover whether or not individual members of congress outperform major indices, and how their
            performance compares between chambers, parties, and congressional districts. We anticipate that
            members of congress will significantly outperform the market.</p>
       </div>
     {% endblock %}
  </body>
</html>